@import "~react-toolbox/lib/commons";

.productTitle {

}

.productCard {
    float:left;
    margin-right:$unit;
    margin-bottom:$unit;
    width:20%;
    min-width:200px;
}

.products {
    margin-top: $unit
}
