$color-primary: $palette-blue-500 !default;
$color-primary-dark: $palette-blue-700 !default;
$color-primary-contrast: $color-dark-contrast !default;

$color-accent: $palette-deep-orange-a200 !default;
$color-accent-dark: $palette-deep-orange-700 !default;
$color-accent-contrast: $color-dark-contrast !default;
